:root {
    --lighter-blue: hsl(197, 71%, 90%);
    --light-blue: hsl(197, 71%, 73%);
    --normal-blue: hsl(197, 71%, 50%);
    --dark-blue: hsl(197, 71%, 25%);
    --darker-blue: hsl(197, 71%, 10%);
    color: var(--darker-blue);
    background-color: var(--lighter-blue);
}

.container {
    box-sizing: border-box;
    margin: auto;
    max-width: 590px;
    padding: 0 3em;
    background-color: var(--light-blue);
    min-height: 100vh;
    border-radius: 3%;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-blue);
}

button {
    cursor: pointer;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: var(--normal-blue);
    color: var(--lighter-blue);
    border-radius: 25px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 1rem .5rem;
    margin-top: 15px;
    background-color: var(--lighter-blue);
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.liBtn {
    background-color: inherit;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.cardModal {
    padding: 2em;
    background-color: var(--lighter-blue);
}

.modalInput {
    font: inherit;
    color: inherit;
}

.modalBtn {
    background-color: var(--normal-blue);
    color: var(--lighter-blue);
    font-size: 16px;
    padding: .5em;
    border: none;
    border-radius: 10%;
}