.container {
    margin: auto;
    max-width: 450px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 1rem .5rem;
    margin-top: 15px;
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}